body {
  font-family: "Times New Roman", Times, serif;
  background: white;
}
.content {
  background: turquoise;
  font-size: 16px;
  margin: 16px auto;
  border: turquoise solid 8px;
}
.Introduction {
  background: #e3f4ff;
  padding: 8px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}
.Description {
  background: #e3f4ff;
  padding: 8px 16px;
  margin-bottom: 8px;
}
.Ingredients {
  background: #e3f4ff;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.Steps {
  background: #e3f4ff;
  padding: 8px 16px;
}
